# THIS PROJECT INCLUDES DATA EXPLORATION AND CLEANING OF COVID DATA COLLECTED FROM LINK GIVEN BELOW FOR FURTHER VISUALISATION ON TABLEAU PUBLIC

In [92]:
import pandas as pd
pd.set_option('display.float_format','{:2f}'.format)
df=pd.read_csv('covid death.csv')

In [93]:
df.shape

(105507, 26)

In [94]:
df.isna().sum()

iso_code                                   0
continent                               4903
location                                   0
population                               702
date                                       0
total_cases                             4300
new_cases                               4303
new_cases_smoothed                      5313
total_deaths                           14614
new_deaths                             14459
new_deaths_smoothed                     5313
total_cases_per_million                 4837
new_cases_per_million                   4840
new_cases_smoothed_per_million          5845
total_deaths_per_million               15138
new_deaths_per_million                 14983
new_deaths_smoothed_per_million         5845
reproduction_rate                      20505
icu_patients                           94650
icu_patients_per_million               94650
hosp_patients                          92394
hosp_patients_per_million              92394
weekly_icu_admissions                 104541
weekly_icu_admissions_per_million     104541
weekly_hosp_admissions                103787
weekly_hosp_admissions_per_million    103787
dtype: int64

In [95]:
df[df.continent.isna()]

,iso_code,continent,location,population,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
520,OWID_AFR,NaN,Africa,1340598113.000000,13-02-2020,NaN,0.000000,NaN,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
521,OWID_AFR,NaN,Africa,1340598113.000000,14-02-2020,1.000000,1.000000,NaN,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
522,OWID_AFR,NaN,Africa,1340598113.000000,15-02-2020,1.000000,0.000000,NaN,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
523,OWID_AFR,NaN,Africa,1340598113.000000,16-02-2020,1.000000,0.000000,NaN,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524,OWID_AFR,NaN,Africa,1340598113.000000,17-02-2020,1.000000,0.000000,NaN,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104036,OWID_WRL,NaN,World,7794798729.000000,23-07-2021,193260049.000000,686061.000000,533458.714000,4143188.000000,7576.000000,...,1.064000,1.080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104037,OWID_WRL,NaN,World,7794798729.000000,24-07-2021,193730907.000000,470858.000000,533204.714000,4152287.000000,9099.000000,...,1.100000,1.090000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104038,OWID_WRL,NaN,World,7794798729.000000,25-07-2021,194168101.000000,437194.000000,535676.143000,4159153.000000,6866.000000,...,1.106000,1.080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104039,OWID_WRL,NaN,World,7794798729.000000,26-07-2021,194715112.000000,547011.000000,542721.571000,4167589.000000,8436.000000,...,1.126000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104040,OWID_WRL,NaN,World,7794798729.000000,27-07-2021,195329696.000000,614584.000000,554884.857000,4177526.000000,9937.000000,...,1.088000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
df.drop(df[df.continent.isna()].index.tolist(),inplace=True)

In [97]:
df.shape

(100604, 26)

In [98]:
df.fillna(0,inplace=True)

In [99]:
df.drop(df[df['population']==0].index.tolist(),inplace=True)

In [100]:
df.drop(df[df.total_cases==0].index.tolist(),inplace=True)

In [101]:
df.reset_index(drop=True,inplace=True)

In [102]:
df=df[['date','continent','location','population','total_cases','total_deaths']]

In [103]:
df['date']=pd.to_datetime(df['date'],infer_datetime_format=True)

In [104]:
df['date']=df['date'].dt.strftime('%Y-%m')

In [105]:
df['date']

0        2020-02
1        2020-02
2        2020-02
3        2020-02
4        2020-02
          ...
96304    2021-07
96305    2021-07
96306    2021-07
96307    2021-07
96308    2021-07
Name: date, Length: 96309, dtype: object

In [106]:
def death_case_per(grp):
    death=list(map(lambda x,y: (x/y)*100,grp['total_deaths'],grp['total_cases']))
    cases=list(map(lambda x,y: (x/y)*100,grp['total_cases'],grp['population']))    
    grp['Infection_Spread_Percentage']=cases
    grp['Death_Percentage_']=death
    return grp

# Dataframe by location, total cases,total deaths,case%,death%

In [107]:
df2=death_case_per(df.groupby(['location'],as_index=False)[df.columns.tolist()[2:]].max())

In [108]:
df2

,location,population,total_cases,total_deaths,Infection_Spread_Percentage,Death_Percentage_
0,Afghanistan,38928341.000000,145008.000000,6515.000000,0.372500,4.492856
1,Albania,2877800.000000,132922.000000,2456.000000,4.618876,1.847700
2,Algeria,43851043.000000,165204.000000,4112.000000,0.376739,2.489044
3,Andorra,77265.000000,14586.000000,127.000000,18.877888,0.870698
4,Angola,32866268.000000,42110.000000,994.000000,0.128125,2.360484
...,...,...,...,...,...,...
187,Venezuela,28435943.000000,301979.000000,3524.000000,1.061962,1.166969
188,Vietnam,97338583.000000,117121.000000,524.000000,0.120323,0.447401
189,Yemen,29825968.000000,7022.000000,1374.000000,0.023543,19.567075
190,Zambia,18383956.000000,192956.000000,3316.000000,1.049589,1.718527
191,Zimbabwe,14862927.000000,101711.000000,3280.000000,0.684327,3.224823

In [109]:
df2.to_excel('death_case_percentage.xlsx')

# #Dataframe by Continent Details

In [110]:
df3=(df.groupby(['continent','location'],as_index=False))[['population','total_cases','total_deaths']].max()

In [111]:
df3.drop('location',axis=1,inplace=True)

In [112]:
df3=df3.groupby('continent',as_index=False).sum()

In [113]:
death_case_per(df3)

,continent,population,total_cases,total_deaths,Infection_Spread_Percentage,Death_Percentage_
0,Africa,1338826591.000000,6533610.000000,166115.000000,0.488010,2.542469
1,Asia,4607388081.000000,60994908.000000,878351.000000,1.323850,1.440040
2,Europe,750473342.000000,51304415.000000,1131643.000000,6.836274,2.205742
3,North America,587663520.000000,41228950.000000,919452.000000,7.015741,2.230113
4,Oceania,41651684.000000,79166.000000,1347.000000,0.190067,1.701488
5,South America,430457607.000000,35219531.000000,1080615.000000,8.181881,3.068227

In [114]:
df3.to_excel('bycontinent.xlsx')

In [115]:
df4=pd.DataFrame({'Covid Infections Count ':df3.total_cases.sum(), 'Deaths ' : df3.total_deaths.sum() },index=[0])

In [116]:
df4.to_excel('Total.xlsx')

# DataFrame By Date and Infection Spread

In [117]:
df5=df.groupby(['date','location'],as_index=False)[['population','total_cases','total_deaths']].max()

In [118]:
death_case_per(df5)

,date,location,population,total_cases,total_deaths,Infection_Spread_Percentage,Death_Percentage_
0,2020-01,Australia,25499881.000000,9.000000,0.000000,0.000035,0.000000
1,2020-01,Cambodia,16718971.000000,1.000000,0.000000,0.000006,0.000000
2,2020-01,Canada,37742157.000000,4.000000,0.000000,0.000011,0.000000
3,2020-01,China,1439323774.000000,9790.000000,213.000000,0.000680,2.175689
4,2020-01,Finland,5540718.000000,1.000000,0.000000,0.000018,0.000000
...,...,...,...,...,...,...,...
3283,2021-07,Venezuela,28435943.000000,301979.000000,3524.000000,1.061962,1.166969
3284,2021-07,Vietnam,97338583.000000,117121.000000,524.000000,0.120323,0.447401
3285,2021-07,Yemen,29825968.000000,7022.000000,1374.000000,0.023543,19.567075
3286,2021-07,Zambia,18383956.000000,192956.000000,3316.000000,1.049589,1.718527
3287,2021-07,Zimbabwe,14862927.000000,101711.000000,3280.000000,0.684327,3.224823

In [119]:
df5.to_excel('by_month.xlsx')